<div class="content">
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'ADDRESS.HEADLINE' | translate }}</h2>
        <div class="col-md-8 col-sm-12 address-padding">
            <h4 class="address-mono">{{ address }} <a class="btn link" data-clipboard-text="{{ address }}"><i class="far fa-copy"></i></a></h4>
        </div>
        <div class="col-md-4 ">
            <div class="qr-code">
                <canvas id="qrcode"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'BALANCES.HEADLINE' | translate }}</h2>
        <div ng-show="loading_balances">
            <div class="mini-loader">Loading...</div>
        </div>
        <div class="col-md-4 col-sm-12" ng-hide="loading_balances" ng-repeat="asset in addressAssets | orderBy:['priority','symbol'] ">
            <div class="col-md-12 panel infobox">
                <h3 class="assetSymbol break"><a href="#!/asset/{{asset.symbol}}">{{asset.symbol}}<a></h3>
                <div class="asset-icon">
                    <img check-image ng-src="../img/assets/{{asset.icon}}.png">
                </div>
                <table>
                    <tr ng-show="asset.symbol!=='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"></td>
                        <td ng-hide="loading_address">{{( tokens[asset.symbol] | numberFormat:asset.decimals|currency:'':asset.decimals)}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"> </td>
                        <td ng-show="!loading_address && info.ETP">{{info.ETP | numberFormat: 8|currency:'': 8}}</td>
                        <td ng-show="!loading_address && !info.ETP">{{0 | numberFormat: 8|currency:'': 8}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'FROZEN'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"> </td>
                        <td ng-hide="loading_address">{{info.FROZEN | numberFormat: 8|currency:'': 8}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div>
        <div class="row">
        </div>

        <h2 class="headline"><em></em>{{ 'ADDRESS.TXS' | translate }}</h2>
          <dir-pagination-controls class="pull-right" max-size="7" on-page-change="switchPage(newPageNumber)"></dir-pagination-controls>

        <div class="date-input">
            <md-datepicker ng-model="min_date" md-placeholder="{{'FROM_DATE'|translate}}" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <md-datepicker ng-model="max_date" md-placeholder="{{'TO_DATE'|translate}}" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <md-button class="md-secondary md-raised search-button" aria-label="search" ng-click="applyFilters()"><i class="fas fa-search"></i></md-button>
        </div>


        <div class="row">
        </div>


        <div ng-show="loading_address">
            <div class="mini-loader">Loading...</div>
        </div>

        <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading_address" dir-paginate="tx in transactions | itemsPerPage:items_per_page" total-items="total_count" current-page="current_page">
            <div class="panel-body">
                <div class="row tx-head">
                    <div class="col-md-9 col-sm-12 break">
                        <a class="hash-mono" href="#!/tx/{{tx.hash}}">{{ tx.hash }}</a> <a class="btn link" data-clipboard-text="{{ tx.hash }}"><i class="far fa-copy"></i></a>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="right slide-left">{{'TX.BLOCK'|translate}} <a href="#!/blk/{{tx.block}}">{{tx.height}}<a>, {{tx.confirmed_at * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="subhead"><b>{{'INPUTS'|translate}}:</b></div>
                        <div class="row" ng-if="$index < 5" ng-repeat="input in tx.inputs" ng-class="{searchedAddress: input.address==address}">
                            <div ng-if="input.attachment.symbol != 'ETP'" class="col-md-12 break">
                                <a class="address-mono" ng-if="input.address" href="#!/adr/{{input.address}}">{{ input.address }}</a>
                                <br>
                                <span ng-if="input.address">{{input.attachment.quantity | numberFormat:input.attachment.decimals | currency:'': input.attachment.decimals}} {{input.attachment.symbol}}</span>
                            </div>
                            <div ng-if="input.value != 0 || input.address == ''" class="col-md-12 break">
                                <span ng-if="input.address == ''">{{'TX.INPUT_COINBASE'|translate}}</span>
                                <a class="address-mono" ng-if="input.address && $index < 5" href="#!/adr/{{input.address}}">{{ input.address }}</a>
                                <br>
                                <span ng-if="input.address">{{input.value | numberFormat:8 | currency:'':8}} ETP</span>
                            </div>
                        </div>
                        <div ng-if="tx.inputs.length>4">
                            <a href="#!/tx/{{tx.hash}}">...</a>
                        </div>
                    </div>
                    <div class="col-md-1 center-text">
                        <i class="fas fa-arrow-right fa-2x"></i>
                    </div>
                    <div class="col-md-6 right">
                        <div class="subhead"><b>{{'OUTPUTS'|translate}}:</b></div>
                        <div class="row" ng-if="$index < 5" ng-repeat="output in tx.outputs" ng-class="{searchedAddress: output.address==address}">
                            <div ng-if="output.attachment.symbol != 'ETP'" class="col-md-12 right break">
                                <a class="address-mono" href="#!/adr/{{output.address}}">{{ output.address }}</a>
                                <br>
                                <div>
                                    {{output.attachment.quantity | numberFormat:output.attachment.decimals|currency:'':output.attachment.decimals}} {{output.attachment.symbol}}
                                </div>
                            </div>
                            <div ng-if="output.value != 0" class="col-md-12 right break">
                                <a class="address-mono" href="#!/adr/{{output.address}}">{{ output.address }}</a>
                                <br>
                                <div>
                                    {{output.value | numberFormat:8|currency:'':8}} ETP
                                </div>
                            </div>
                        </div>
                        <div ng-if="tx.outputs.length>4">
                            <a href="#!/tx/{{tx.hash}}">...</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
          <dir-pagination-controls class="pull-right" max-size="7" on-page-change="switchPage(newPageNumber)"></dir-pagination-controls>
    </div>
