<div class="content">
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'ADDRESS.HEADLINE' | translate }}</h2>
        <div class="col-md-8 col-sm-12 address-padding">
            <h4 class="address-mono">{{ address }} <a class="btn link" data-clipboard-text="{{ address }}" bs-tooltip data-placement="top" title="{{ 'COPY' | translate }}"><i class="far fa-copy"></i></a></h4>
        </div>
        <div class="col-md-4 ">
            <div class="qr-code">
                <canvas id="qrcode"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'BALANCES.HEADLINE' | translate }}</h2>
        <div ng-show="loading_balances">
            <div class="mini-loader">Loading...</div>
        </div>
        <div class="col-md-4 col-sm-12" ng-hide="loading_balances" ng-repeat="asset in addressAssets | orderBy:['priority','symbol'] ">
            <div class="col-md-12 panel infobox">
                <h3 class="assetSymbol break"><a href="asset/{{asset.symbol}}">{{asset.symbol}}<a></h3>
                <div class="asset-icon">
                    <img check-image ng-src="../img/assets/{{asset.icon}}.png">
                </div>
                <table>
                    <tr ng-show="asset.symbol!=='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td>{{( tokens[asset.symbol] | numberFormat:asset.decimals)}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td ng-show="info.ETP">{{info.ETP | numberFormat: 8}}</td>
                        <td ng-show="!info.ETP">{{0 | numberFormat: 8}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'FROZEN'|translate}}</th>
                        <td>{{info.FROZEN | numberFormat: 8}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div>
        <div class="row"></div>
        <h2 class="headline"><em></em>{{ 'ADDRESS.TXS' | translate }}</h2>

        <div class="date-input">
            <md-datepicker ng-model="min_date" md-placeholder="{{'FROM_DATE'|translate}}" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <md-datepicker ng-model="max_date" md-placeholder="{{'TO_DATE'|translate}}" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            <md-button class="md-secondary md-raised search-button" aria-label="search" ng-click="applyFilters(min_date, max_date)"><i class="fas fa-search"></i></md-button>
        </div>

        <div class="row"></div>

        <div infinite-scroll="loadTransactions()">
            <div ng-repeat="tx in transactions" class="row panel nga-default nga-stagger nga-fade">
                <div class="panel-body">
                    <div class="row tx-head">
                        <div class="col-md-9 col-sm-12 break">
                            <a class="hash-mono" href="tx/{{tx.hash}}">{{ tx.hash }}</a> <a class="btn link" data-clipboard-text="{{ tx.hash }}" bs-tooltip data-placement="top" title="{{ 'COPY' | translate }}"><i class="far fa-copy"></i></a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="right slide-left">{{'TX.BLOCK'|translate}} <a href="blk/{{tx.block}}">{{tx.height}}<a>, {{tx.confirmed_at * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="subhead"><b>{{'INPUTS'|translate}}:</b></div>
                            <div class="row break blockTxLine" ng-if="$index < 5" ng-repeat="input in tx.inputs" ng-class="{searchedAddress: input.address==address}">
                                <div ng-if="input.attachment.symbol != 'ETP'" class="col-md-12 break">
                                    <a class="address-mono" ng-if="input.address" href="adr/{{input.address}}">{{ input.address }}</a>
                                    <br>
                                    <div ng-if="input.address">
                                        <div ng-show="input.attachment.type == 'did-register' || input.attachment.type == 'did-transfer'"><div class="txType">{{'TX.TYPE_DID_TRANSFER'|translate}}: </div><a href="avatar/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                        <div ng-show="input.attachment.cert == 'issue'"><div class="txType">{{'TX.TYPE_ASSET_CERT_ISSUE'|translate}}: </div><a href="asset/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                        <div ng-show="input.attachment.cert == 'domain'"><div class="txType">{{'TX.TYPE_ASSET_CERT_DOMAIN'|translate}}: </div>{{input.attachment.symbol}}</div>
                                        <div ng-show="input.attachment.cert == 'naming'"><div class="txType">{{'TX.TYPE_ASSET_CERT_NAMING'|translate}}: </div>{{input.attachment.symbol}}</div>
                                        <div ng-show="input.attachment.cert == 'mining'"><div class="txType">{{'TX.TYPE_ASSET_CERT_MINING'|translate}}: </div><a href="asset/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                        <div ng-show="input.attachment.type == 'mit'"><div class="txType">{{'TX.TYPE_MIT_TRANSFER'|translate}}: </div><a href="mit/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                        <div ng-show="input.attachment.type != 'did-register' && input.attachment.type != 'did-transfer' && input.attachment.type != 'mit' && !input.attachment.cert">{{input.attachment.quantity | numberFormat:input.attachment.decimals}} <a href="asset/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                    </div>
                                </div>
                                <div ng-if="input.value != 0 || input.address == ''" class="col-md-12 break">
                                    <span ng-if="input.address == ''">{{'TX.INPUT_COINBASE'|translate}}</span>
                                    <a class="address-mono" ng-if="input.address && $index < 5" href="adr/{{input.address}}">{{ input.address }}</a>
                                    <br>
                                    <span ng-if="input.address">{{input.value | numberFormat:8}} <a href="asset/ETP">ETP</a></span>
                                </div>
                            </div>
                            <div ng-if="tx.inputs.length>4">
                                <a href="tx/{{tx.hash}}">...</a>
                            </div>
                        </div>
                        <div class="col-md-1 center-text">
                            <i class="fas fa-arrow-right fa-2x"></i>
                        </div>
                        <div class="col-md-6 right">
                            <div class="subhead"><b>{{'OUTPUTS'|translate}}:</b></div>
                            <div class="row break blockTxLine" ng-if="$index < 5" ng-repeat="output in tx.outputs" ng-class="{searchedAddress: output.address==address}">
                                <div ng-if="output.attachment.symbol != 'ETP'" class="col-md-12 break">
                                    <div ng-show="output.attachment.to_did" class="break"><a href="avatar/{{output.attachment.to_did}}">{{output.attachment.to_did}}</a></div>
                                    <div ng-hide="output.attachment.to_did"><a class="address-mono" href="adr/{{output.address}}">{{output.address}}</a></div>
                                    <div ng-show="output.attachment.type == 'did-register'"><div class="txType">{{'TX.TYPE_DID_ISSUE'|translate}}: </div><a href="avatar/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.type == 'did-transfer'"><div class="txType">{{'TX.TYPE_DID_TRANSFER'|translate}}: </div><a href="avatar/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.type == 'asset-issue' && !output.attachment.is_secondaryissue"><div class="txType">{{'TX.TYPE_ASSET_ISSUE'|translate}}: </div>{{output.attachment.quantity| numberFormat:output.attachment.decimals}} <a href="asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.type == 'asset-issue' && output.attachment.is_secondaryissue"><div class="txType">{{'TX.TYPE_ASSET_SECONDARY_ISSUE'|translate}}: </div>{{output.attachment.quantity| numberFormat:output.attachment.decimals}} <a href="asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.cert == 'issue'"><div class="txType">{{'TX.TYPE_ASSET_CERT_ISSUE'|translate}}: </div><a href="asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.cert == 'domain'"><div class="txType">{{'TX.TYPE_ASSET_CERT_DOMAIN'|translate}}: </div>{{output.attachment.symbol}}</div>
                                    <div ng-show="output.attachment.cert == 'naming'"><div class="txType">{{'TX.TYPE_ASSET_CERT_NAMING'|translate}}: </div>{{output.attachment.symbol}}</div>
                                    <div ng-show="output.attachment.cert == 'mining'"><div class="txType">{{'TX.TYPE_ASSET_CERT_MINING'|translate}}: </div><a href="asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.cert == 'witness'"><div class="txType">{{'TX.TYPE_ASSET_CERT_WITNESS'|translate}}: </div>{{output.attachment.symbol}}</div>
                                    <div ng-show="output.attachment.type == 'mit' && output.attachment.status == 'registered'"><div class="txType">{{'TX.TYPE_MIT_CREATION'|translate}}: </div><a href="mit/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.type == 'mit' && output.attachment.status == 'transfered'"><div class="txType">{{'TX.TYPE_MIT_TRANSFER'|translate}}: </div><a href="mit/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                    <div ng-show="output.attachment.type == 'asset-transfer'">{{output.attachment.quantity| numberFormat:output.attachment.decimals}} <a href="asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                </div>
                                <div ng-if="output.value != 0 || output.attachment.symbol == 'ETP'" class="col-md-12 right break">
                                    <a class="address-mono" href="adr/{{output.address}}">{{ output.address }}</a>
                                    <br>
                                    <div ng-show="output.attachment.type == 'message'" class="txType">{{'TX.TYPE_MESSAGE'|translate}}</div>
                                    <div ng-show="output.attachment.type != 'message' || output.value != 0">{{output.value | numberFormat:8}} <a href="asset/ETP">ETP</a></div>
                                </div>
                            </div>
                            <div ng-if="tx.outputs.length>4">
                                <a href="tx/{{tx.hash}}">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="loading_txs">
            <div class="mini-loader">Loading...</div>
        </div>
    </div>
</div>
