<div class="content">
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'ASSET.HEADLINE' | translate }}</h2>
        <div class="headline col-md-8 col-xs-8 address-padding">
            <h1>{{ asset.symbol }}</h1>
        </div>
        <div class="headline col-md-4 col-xs-4 assetpage-icon">
            <img check-image ng-src="../img/assets/{{asset.icon}}.png">
        </div>
    </div>

    <h2 class="headline"><em></em>{{ 'ASSET.INFO' | translate }}</h2>
    <div ng-show="loading_asset">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading_asset">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.SYMBOL' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ asset.symbol }}</div>
            </div>
            <div class="row" ng-show="asset.symbol == 'ETP' || (!asset.miningModel && asset.secondaryissue_threshold == 0)">
                <div class="col-md-4 list-item-label">{{ 'ASSETS.MAX_SUPPLY' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.quantity | numberFormat : asset.decimals}}</div>
            </div>
            <div class="row" ng-show="asset.symbol != 'ETP' && (asset.miningModel || asset.secondaryissue_threshold != 0)">
                <div class="col-md-4 list-item-label">{{ 'ASSETS.TOTAL_SUPPLY' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.quantity + asset.minedQuantity | numberFormat : asset.decimals}}</div>
            </div>
            <div class="row" ng-show="asset.symbol == 'ETP'">
                <div class="col-md-4 list-item-label">{{ 'ASSETS.TOTAL_SUPPLY' | translate }}</div>
                <div ng-show="loading_total_supply" class="col-md-8 list-item-value"><img src="../images/spinner.gif"></div>
                <div ng-hide="loading_total_supply" class="col-md-8 list-item-value">{{totalSupply | numberFormat : 0}}</div>
            </div>
            <div class="row" ng-show="asset.symbol == 'ETP'">
                <div class="col-md-4 list-item-label">{{ 'ASSETS.CIRCULATION_SUPPLY' | translate }}</div>
                <div ng-show="loading_circulation" class="col-md-8 list-item-value"><img src="../images/spinner.gif"></div>
                <div ng-hide="loading_circulation" class="col-md-8 list-item-value">{{circulation | numberFormat : 0}}</div>
            </div>

            <div class="row" ng-show="asset.symbol != 'ETP' && (asset.original_quantity != asset.quantity || asset.minedQuantity != 0)">
                <div class="col-md-4 list-item-label">{{ 'ASSET.INITIAL_MAX_SUPPLY' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.original_quantity | numberFormat : asset.decimals}}</div>
            </div>
            <div class="row" ng-show="asset.original_quantity != asset.quantity">
                <div class="col-md-4 list-item-label">{{ 'ASSET.ADDED_VIA_SECONDARY_ISSUE' | translate }}</div>
                <div class="col-md-8 list-item-value">
                    {{asset.quantity - asset.original_quantity | numberFormat : asset.decimals}}
                    <div class="inline">
                        <a ng-show="asset.original_quantity != asset.quantity && !showSecondaryHistory" ng-click="showSecondaryHistory = true"><i class="fas fa-plus-circle"></i></a>
                        <a ng-show="asset.original_quantity != asset.quantity && showSecondaryHistory" ng-click="showSecondaryHistory = false"><i class="fas fa-minus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div ng-show="asset.symbol != 'ETP' && asset.minedQuantity" class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.MINED_SUPPLY' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.minedQuantity | numberFormat : asset.decimals}}</div>
            </div>
            <div ng-show="asset.miningModel" class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.MINING_MODEL_INITIAL' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.miningModel.initial | numberFormat : asset.decimals}}</div>
            </div>
            <div ng-show="asset.miningModel" class="row">
                <div ng-hide="asset.symbol == 'ETP'" class="col-md-4 list-item-label">{{ 'ASSET.MINING_CURRENT_REWARD' | translate }}</div>
                <div ng-show="asset.symbol == 'ETP'" class="col-md-4 list-item-label">{{ 'ASSET.MINING_CURRENT_REWARD_POW' | translate }}</div>
                <div ng-show="!asset.currentReward" class="col-md-8 list-item-value"><img src="../images/spinner.gif"></div>
                <div ng-show="asset.currentReward" class="col-md-8 list-item-value">{{asset.currentReward | numberFormat : asset.decimals}}</div>
            </div>
            <div ng-show="asset.miningModel && asset.symbol == 'ETP'" class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.MINING_CURRENT_REWARD_POS' | translate }}</div>
                <div ng-show="!asset.currentRewardPos" class="col-md-8 list-item-value"><img src="../images/spinner.gif"></div>
                <div ng-show="asset.currentRewardPos" class="col-md-8 list-item-value">{{asset.currentRewardPos | numberFormat : asset.decimals}}</div>
            </div>
            <div ng-show="asset.miningModel" class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.MINING_MODEL_INTERVAL' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.miningModel.interval | numberFormat : 0}} {{ 'blocks' | translate }}</div>
            </div>
            <div ng-show="asset.miningModel" class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.MINING_MODEL_BASE' | translate }}</div>
                <div class="col-md-8 list-item-value">{{asset.miningModel.basePercent | numberFormat : 0}}%</div>
            </div>
            <div class="row" ng-show="showSecondaryHistory && update.is_secondaryissue" ng-repeat="update in asset.updates">
                <div class="col-md-4 list-item-label">{{ 'ASSET.SECONDARY_ISSUE_PAST' | translate }}{{$index+1}}</div>
                <div class="col-md-8 list-item-value">
                    <a href="tx/{{update.issue_tx}}">{{update.quantity | numberFormat : asset.decimals}} - {{ 'TX.BLOCK' | translate }} {{update.height}} - {{update.confirmed_at * 1000| date}}</a>
                    <span ng-show="update.attenuation_model_param"> - {{ 'ASSET.SECONDARY_ISSUE_PAST_FROZEN' | translate }}</span>
                    <div class="inline">
                        <a ng-show="update.attenuation_model_param && !this.showModel" ng-click="this.showModel = true"><i class="fas fa-plus-circle"></i></a>
                        <a ng-show="update.attenuation_model_param && this.showModel" ng-click="this.showModel = false"><i class="fas fa-minus-circle"></i></a>
                    </div>
                    <div ng-show="this.showModel">
                        <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_TYPE' | translate }}:</div>
                        <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_TYPE' | translate }} {{update.attenuation_model_param.type}}</div>

                        <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_QUANTITY' | translate }}:</div>
                        <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{update.attenuation_model_param.lock_quantity | numberFormat : asset.decimals}}</div>

                        <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_PERIOD_NBR' | translate }}:</div>
                        <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{update.attenuation_model_param.total_period_nbr}} {{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_PERIOD' | translate }}</div>
                        <div ng-show="update.attenuation_model_param.type == 1">
                            <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_PERIOD_TIME' | translate }}:</div>
                            <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{update.attenuation_model_param.lock_period}} {{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_BLOCKS' | translate }}</div>
                        </div>

                        <div ng-show="update.attenuation_model_param.type == 2" ng-repeat="period in update.attenuation_model_param.locked">
                            <div class="col-xs-12 noPaddingLeftRight">
                                <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_QUANTITY_MODEL2_1' | translate }}{{$index+1}}{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_QUANTITY_MODEL2_2' | translate }}</div>
                                <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{period.quantity | numberFormat : asset.decimals}}</div>
                            </div>
                            <div class="col-xs-12 noPaddingLeftRight">
                                <div class="col-xs-6 col-md-4 noPaddingLeftRight">{{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_PERIOD_MODEL2' | translate }}{{$index+1}}</div>
                                <div class="col-xs-6 col-md-8 noPaddingLeftRight">{{period.number}} {{ 'ASSET.SECONDARY_ISSUE_PAST_MODEL_BLOCKS' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="asset.symbol != 'ETP'">
                <div class="col-md-4 list-item-label">{{ 'ASSET.SECONDARY_ISSUE' | translate }}</div>
                <div class="col-md-8 list-item-value" ng-show="asset.secondaryissue_threshold == 0">{{ 'ASSET.SECONDARY_ISSUE_DISABLED' | translate }}</div>
                <div class="col-md-8 list-item-value" ng-show="asset.secondaryissue_threshold == 127">{{ 'ASSET.SECONDARY_ISSUE_UNLIMITED' | translate }}</div>
                <div class="col-md-8 list-item-value" ng-show="asset.secondaryissue_threshold != 0 && asset.secondaryissue_threshold != 127">{{asset.secondaryissue_threshold}}%</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.DECIMALS' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ asset.decimals }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.ISSUER' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ asset.issuer }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value address-mono"><a href="adr/{{ asset.address }}">{{ asset.address }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.HASH' | translate }}</div>
                <div class="col-md-8 list-item-value hash-mono"><a href="tx/{{ asset.issue_tx }}">{{ asset.issue_tx }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.HEIGHT' | translate }}</div>
                <div class="col-md-8 list-item-value"><a href="blk/{{ asset.height }}">{{ asset.height }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'ASSET.DESCRIPTION' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ asset.description }}</div>
            </div>
        </div>
    </div>

    <h2 class="headline"><em></em>{{ 'ASSET.STAKELIST' | translate }}</h2>
    <div ng-show="loading_asset || (loading_circulation && asset.symbol == 'ETP')">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade distrib-overview" ng-hide="loading_asset || (loading_circulation && asset.symbol == 'ETP')">
        <div class="panel-body col-md-7 col-xs-12 distrib-overview-panel-smallscreen">
            <div class="col-xs-12 noPaddingLeftRight assetAddressTitle">
                <span class="col-xs-7 overflow">{{"ADDRESS"|translate}}</span>
                <span class="col-xs-3 right right-overflow">{{"STAKE"|translate}}</span>
                <span class="col-xs-2 right right-overflow">{{"SHARE"|translate}}</span>
            </div>

            <div class="col-xs-12 noPaddingLeftRight assetAddressLine" ng-repeat="stake in stakelist | orderBy:['-row_quantity']" ng-if="stake.address">
                <span class="col-xs-7 overflow address-mono"><a href="adr/{{stake.address}}">{{stake.address}}</a></span>
                <span class="col-xs-3 right right-overflow">{{stake.quantity | numberFormat : 0}}</span>
                <span class="col-xs-2 right right-overflow">{{stake.share}}%</span>
            </div>
            <div class="col-xs-12 loadMoreStakes" ng-show="!stake_list_fully_loaded">
                <md-button ng-show="!loading_stake_list" class="md-secondary md-raised broadcast-btn" ng-click="loadMoreStakeList()">{{'ASSET.LOAD_MORE_STAKES' | translate}}</md-button>
                <div ng-show="loading_stake_list"><img src="../images/spinner.gif"></div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 asset-chart">
            <div class="asset-circulation" ng-show="asset.symbol == 'ETP'">{{ 'NUMBER_OF_COINS' |translate }}: {{circulation | numberFormat : 0}} {{asset.symbol}}</div>
            <div class="asset-circulation" ng-hide="asset.symbol == 'ETP'">{{ 'NUMBER_OF_COINS' |translate }}: {{asset.quantity + asset.minedQuantity | numberFormat : asset.decimals}} {{asset.symbol}}</div>
            <div id="chart">
                <svg></svg>
            </div>
        </div>
    </div>
</div>
