<div class="content">

    <h2 class="headline"><em></em>{{ 'AVATARS.HEADLINE' | translate }}</h2>

    <h4 class="assets-count">
      <span>{{ 'AVATARS.COUNT' | translate }}: </span>
      <span ng-show="loading_assets"><img src="../images/spinner.gif"></span>
      <span ng-hide="loading_assets">{{avatars.length}}</span>
    </h4>

    <div ng-if="loading_assets">
        <div class="mini-loader">Loading...</div>
    </div>

    <div class="row nga-default nga-stagger nga-fade" ng-hide="loading">
        <div class="col-md-12 hidden-xs hidden-sm">
            <div class="row panel list-item nga-default nga-stagger nga-fade">
                <div class="col-md-3">{{ 'AVATAR.SYMBOL' | translate }}</div>
                <div class="col-md-2">{{ 'AVATAR.ADDRESS' | translate }}</div>
                <div class="col-md-2">{{ 'AVATAR.CREATED_AT' | translate }}</div>
                <div class="col-md-5">{{ 'AVATAR.CREATION_BLOCK' | translate }}</div>
            </div>

            <div class="row panel list-item nga-default nga-stagger nga-fade asset-row" ng-repeat="avatar in avatars | orderBy:['priority','symbol'] ">
                <div class="col-md-3">
                  <h4><a href="#!/avatar/{{avatar.symbol}}">{{avatar.symbol}}</a></h4>
                </div>
                <div class="col-md-2">{{avatar.address}}</div>
                <div class="col-md-2">{{avatar.confirmed_at * 1000| date}}</div>
                <div class="col-md-5">{{avatar.height}}</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 panel assetbox hidden-md hidden-lg hidden-xl" ng-repeat="asset in assets | orderBy:['height'] ">
            <h3><a href="#!/avatar/{{avatar.symbol}}">{{avatar.symbol}}</a></h3>
            <table class="col-xs-12 col-sm-12">
                <tr>
                    <th>{{ 'AVATAR.ADDRESS' | translate }}</th>
                    <td>{{avatar.address}}</td>
                </tr>
                <tr>
                    <th>{{ 'AVATAR.CREATED_AT' | translate }}</th>
                    <td>{{avatar.confirmed_at*1000|date}}</td>
                </tr>
                <tr>
                    <th>{{ 'AVATAR.CREATION_BLOCK' | translate }}</th>
                    <td>{{avatar.height}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
