<div class="content">
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'AVATAR.HEADLINE' | translate }}</h2>
        <div class="headline col-md-8 col-xs-8 address-padding">
            <h1>{{ avatar.symbol }}</h1>
        </div>
    </div>

    <h2 class="headline"><em></em>{{ 'AVARAR.INFO' | translate }}</h2>
    <div ng-show="loading_asset">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.SYMBOL' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ avatar.symbol }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.address}}</div>
            </div>
            <div class="row" ng-if="avatar.address!=avatar.original_address">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.ORIGINAL_ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.original_address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATED_AT' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.confirmed_at*1000|date:'medium'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATION_BLOCK' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.height}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATION_TRANSACTION' | translate }}</div>
                <div class="col-md-8 list-item-value"><a href="#!/tx/{{avatar.issue_tx}}">{{avatar.issue_tx}}</a></div>
            </div>
        </div>
    </div>

    <h2 class="headline"><em></em>{{ 'AVATAR.CERTIFICATES' | translate }}</h2>
    <div ng-show="loading_certs">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade distrib-overview" ng-hide="loading_certs">
        <div class="panel-body">
            <div class="col-xs-12 noPaddingLeftRight assetAddressTitle">
                <span class="col-xs-7 overflow">{{"SYMBOL"|translate}}</span>
                <span class="col-xs-3 right right-overflow">{{"TYPE"|translate}}</span>
                <span class="col-xs-2 right right-overflow">{{"STATUS"|translate}}</span>
            </div>

            <div class="col-xs-12 noPaddingLeftRight assetAddressLine" ng-repeat="cert in certs | orderBy:'height':true">
                <span class="col-xs-7 overflow">{{cert.attachment.symbol}}</span>
                <span class="col-xs-3 right right-overflow">{{cert.attachment.cert}}</span>
                <span class="col-xs-2 right right-overflow" ng-if="cert.spent_tx==0">{{"VALID"}}</span>
                <span class="col-xs-2 right right-overflow" ng-if="cert.spent_tx!=0"><a href="#!/tx/{{cert.spent_tx}}">{{"INVALIDATED"}}</a></span>
            </div>
        </div>
    </div>
</div>
