<div class="content">

    <h2 class="headline"><em></em>{{ 'AVATARS.HEADLINE' | translate }}</h2>

    <h4 class="assets-count">
      <span>{{ 'AVATARS.COUNT' | translate }}: </span>
      <span ng-show="loading_count"><img src="../images/spinner.gif"></span>
      <span ng-hide="loading_count">{{count}}</span>
    </h4>

    <div class="row nga-default nga-stagger nga-fade" infinite-scroll="load()">

        <div class="col-md-12 hidden-xs hidden-sm">
            <div class="row panel list-item nga-default nga-stagger nga-fade">
                <div class="col-md-4">{{ 'AVATAR.SYMBOL' | translate }}</div>
                <div class="col-md-4">{{ 'AVATAR.ADDRESS' | translate }}</div>
                <div class="col-md-2">{{ 'AVATAR.CREATION_DATE' | translate }}</div>
                <div class="col-md-2">{{ 'AVATAR.CREATION_BLOCK' | translate }}</div>
            </div>

            <div ng-repeat="avatar in avatars" class="row panel list-item nga-default nga-stagger nga-fade asset-row">            
                <div class="col-md-4">
                  <h4><a href="avatar/{{avatar.symbol}}">{{avatar.symbol}}</a></h4>
                </div>
                <div class="col-md-4 address-mono"><a href="adr/{{avatar.address}}">{{avatar.address}}</a></div>
                <div class="col-md-2">{{avatar.confirmed_at * 1000| date}}</div>
                <div class="col-md-2">{{avatar.height}}</div>
            </div>
        </div>

        <div ng-repeat="avatar in avatars" class="col-xs-12 col-sm-12 panel assetbox hidden-md hidden-lg hidden-xl">
            <h3><a href="avatar/{{avatar.symbol}}">{{avatar.symbol}}</a></h3>
            <table class="col-xs-12 col-sm-12">
                <tr>
                    <th>{{ 'AVATAR.ADDRESS' | translate }}</th>
                    <td class="address-mono"><a href="adr/{{avatar.address}}">{{avatar.address}}</a></td>
                </tr>
                <tr>
                    <th>{{ 'AVATAR.CREATION_DATE' | translate }}</th>
                    <td>{{avatar.confirmed_at*1000|date}}</td>
                </tr>
                <tr>
                    <th>{{ 'AVATAR.CREATION_BLOCK' | translate }}</th>
                    <td>{{avatar.height}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="loading_avatars">
        <div class="mini-loader">Loading...</div>
    </div>
</div>
