<div class="content">
    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'AVATAR.HEADLINE' | translate }}</h2>
        <div class="headline col-md-8 col-xs-8 address-padding">
            <h1>{{ avatar.symbol }}</h1>
        </div>
    </div>

    <div class="row">
        <h2 class="headline col-sm-12"><em></em>{{ 'BALANCES.HEADLINE' | translate }}</h2>
        <div class="col-md-4 col-sm-12" ng-repeat="asset in addressAssets | orderBy:['priority','symbol'] ">
            <div class="col-md-12 panel infobox">
                <h3 class="assetSymbol break">{{asset.symbol}}</h3>
                <div class="asset-icon">
                    <img check-image ng-src="../img/assets/{{asset.icon}}.png">
                </div>
                <table>
                    <tr ng-show="asset.symbol!=='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"></td>
                        <td ng-hide="loading_address">{{( tokens[asset.symbol] | numberFormat:asset.decimals|currency:'':asset.decimals)}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'BALANCE'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"> </td>
                        <td ng-show="!loading_address && info.ETP">{{info.ETP | numberFormat: 8|currency:'': 8}}</td>
                        <td ng-show="!loading_address && !info.ETP">{{0 | numberFormat: 8|currency:'': 8}}</td>
                    </tr>
                    <tr ng-if="asset.symbol==='ETP'">
                        <th>{{'FROZEN'|translate}}</th>
                        <td ng-show="loading_address"><img src="../images/spinner.gif"> </td>
                        <td ng-hide="loading_address">{{info.FROZEN | numberFormat: 8|currency:'': 8}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h2 class="headline"><em></em>{{ 'AVATAR.CERTIFICATES' | translate }}</h2>
    <div ng-show="loading_certs">
        <div class="mini-loader">Loading...</div>
    </div>
    <div ng-show="!loading_certs && certs.length == 0">{{ 'AVATAR.NO_CERTIFICATES' | translate }}</div>
    <div class="row" ng-show="!loading_certs && certs.length != 0">
        <div class="certificate panel nga-default nga-stagger nga-fade distrib-overview col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-class="{certDomain: cert.attachment.cert == 'domain', certIssue: cert.attachment.cert == 'issue', certNaming: cert.attachment.cert == 'naming', certExpired: cert.spent_tx != 0}" ng-repeat="cert in certs | orderBy:['spent_tx','height']">
            <div class"">
                <h4 class="text-center cert-title">{{cert.attachment.symbol}}</h4>
                <div>{{ 'CERT.TYPE' | translate }}: <span class="align-right">{{cert.attachment.cert}}</span></div>
                <div>{{ 'CERT.CURRENT_OWNER' | translate }}: <span class="break-all align-right">{{cert.attachment.owner}}</span></div>
                <div>{{ 'TX.BLOCK' | translate }}: <a class="align-right" href="#!/blk/{{cert.height}}">{{cert.height}}</a></div>
                <div>{{ 'CERT.CREATION' | translate }}: <span class="align-right">{{cert.confirmed_at * 1000| date}}</span></div>
                <br/>
                <h4 class="text-center" ng-if="cert.spent_tx!=0">
                    <a href="#!/tx/{{cert.spent_tx}}">{{ 'CERT.INVALIDATED' | translate }}</a>
                </h4>
                <img class="cert-stamp" check-image ng-src="../img/assets/ETP.png">
            </div>
        </div>
    </div>


    <h2 class="headline"><em></em>{{ 'AVATAR.INFO' | translate }}</h2>
    <div ng-show="loading_avatar">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading_avatar">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.SYMBOL' | translate }}</div>
                <div class="col-md-8 list-item-value">{{ avatar.symbol }}</div>
            </div>
            <div class="row" ng-hide="showAddressesHistory">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CURRENT_ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value address-mono"><a href="#!/adr/{{avatar.address}}">{{avatar.address}}<a></div>
            </div>
            <div class="row" ng-show="showAddressesHistory" ng-repeat="update in avatar.updates | orderBy:'height':true">
                <div ng-show="update.address == avatar.address" class="col-md-4 list-item-label">{{ 'AVATAR.CURRENT_ADDRESS' | translate }}</div>
                <div ng-show="update.address != avatar.address" class="col-md-4 list-item-label">{{ 'AVATAR.PREVIOUS_ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value">
                    <a class="address-mono" href="#!/adr/{{avatar.original_address}}">{{update.address}}<a>
                    <a href="#!/tx/{{update.issue_tx}}"> - {{ 'AVATAR.ADDRESS_FROM_HEIGHT' | translate }}{{update.height}} - {{update.confirmed_at * 1000| date}}<a>
                </div>
            </div>
            <div class="row" ng-show="avatar.address!=avatar.original_address">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.ORIGINAL_ADDRESS' | translate }}</div>
                <div class="col-md-8 list-item-value">
                    <a href="#!/adr/{{avatar.original_address}}" class="address-mono">{{avatar.original_address}}<a>
                    <a href="#!/tx/{{update.issue_tx}}" ng-show="showAddressesHistory"> - {{ 'AVATAR.ADDRESS_FROM_HEIGHT' | translate }}{{avatar.height}} - {{avatar.confirmed_at * 1000| date}}<a>
                    <a ng-show="!showAddressesHistory" ng-click="showAddressesHistory = true"><i class="fas fa-plus-circle"></i></a>
                    <a ng-show="showAddressesHistory" ng-click="showAddressesHistory = false"><i class="fas fa-minus-circle"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATED_AT' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.confirmed_at*1000|date:'medium'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATION_BLOCK' | translate }}</div>
                <div class="col-md-8 list-item-value">{{avatar.height}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 list-item-label">{{ 'AVATAR.CREATION_TRANSACTION' | translate }}</div>
                <div class="col-md-8 list-item-value hash-mono"><a href="#!/tx/{{avatar.issue_tx}}">{{avatar.issue_tx}}</a></div>
            </div>
        </div>
    </div>
</div>
