<div class="content">
    <h2 class="headline"><em></em>{{ 'BLOCK.HEADLINE' | translate }}</h2>
    <div ng-show="loading_block">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading_block">
        <div class="col-md-12 panel-body">

            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.NUMBER' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.number }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.HASH' | translate }}</div>
                <div class="col-md-9 list-item-value">
                    <p>{{ block.hash }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.NO_OF_TXS' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.transaction_count }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.NONCE' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.nonce }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.MIX_HASH' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.mixhash }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.VERSION' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.version }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'EXPLORER.DIFFICULTY' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.bits }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.MERKLE_TREE_HASH' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.merkle_tree_hash }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'BLOCK.PREVIOUS_BLOCK_HASH' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.previous_block_hash }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'EXPLORER.BLOCK_TIME' | translate }}</div>
                <div class="col-md-9 list-item-value">{{ block.time_stamp * 1000 | date: ( 'GENERAL.DATE_FORMAT' | translate ) }}</div>
            </div>
        </div>
    </div>
    <div class="row nga-default nga-stagger nga-fade" ng-hide="loading_block">
        <h2 class="headline"><em></em>{{ 'EXPLORER.TXS' | translate }}</h2>
        <div class="col-md-12">
            <div class="panel" ng-repeat="tx in block.transactions">

                <div class="panel-body">
                    <div class="row tx-head">
                        <div class="col-md-9 col-sm-12 break">
                            <a href="#!/tx/{{tx.hash}}">{{ tx.hash }}</a>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="right slide-left">{{tx.timestamp * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="subhead"><b>{{'INPUTS'|translate}}:</b></div>
                            <div class="row" ng-repeat="input in tx.inputs">
                                <div class="col-md-12 break">
                                    <span ng-if="!input.address">coinbase</span>
                                    <a ng-if="input.address && $index < 5" href="#!/adr/{{input.address}}">{{ input.address }}</a>
                                    <br>
                                    <span ng-if="input.address && $index < 5">{{input.quantity | numberFormat:input.asset.decimals | currency:'': input.asset.decimals}} {{input.asset.symbol}}</span>
                                </div>
                            </div>
                            <div ng-if="tx.inputs.length>4">
                                <a href="#!/tx/{{tx.hash}}">...</a>
                            </div>
                        </div>
                        <div class="col-md-1 center-text">
                            <i class="icon-arrow-right2"></i>
                        </div>
                        <div class="col-md-6">
                            <div class="subhead right"><b>{{'OUTPUTS'|translate}}:</b></div>
                            <div class="row" ng-repeat="output in tx.outputs">
                                <div class="col-md-12 right break">
                                    <a href="#!/adr/{{output.address}}">{{ output.address }}</a>
                                    <br>
                                    <div class="right">
                                        {{output.quantity | numberFormat:output.asset.decimals|currency:'':output.asset.decimals}} {{output.asset.symbol}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
