<div class="content">
    <h2 class="headline"><em></em> {{ 'BLOCKS' | translate }}</h2>

    <div class="row nga-default nga-stagger nga-fade">
        <div class="hidden-xs hidden-sm col-md-12">
            <div class="row panel list-item">
                <div class="col-md-4 no-padding-right"><span class="list-item-label">{{ 'BLOCK.HASH' | translate }}</span></div>
                <div class="col-md-1 no-padding-right"><span class="list-item-label">{{ 'EXPLORER.BLOCK_NUMBER' | translate }}</span></div>
                <div class="col-md-1 no-padding-right"><span class="list-item-label">{{ 'EXPLORER.TRANSACTION_COUNT' | translate }}</span></div>
                <div class="col-md-1 no-padding-right nowrap"><span class="list-item-label">{{ 'EXPLORER.BLOCK_TYPE' | translate }}</span></div>
                <div class="col-md-3 no-padding-right"><span class="list-item-label">{{ 'EXPLORER.BLOCK_MINER' | translate }}</span></div>
                <div class="col-md-2 right"><span class="list-item-label">{{ 'TIME' | translate }}</span></div>
            </div>
        </div>
        <div class="col-md-12" infinite-scroll="load()">
            <div ng-repeat="block in blocks" class="row panel list-item nga-default nga-stagger nga-fade">
                <div class="col-md-4 col-xs-12 overflow">
                    <span class="visible-xs visible-sm list-item-label">{{ 'BLOCK.HASH' | translate }}: </span>
                    <a class="hash-mono" href="blk/{{block.hash}}">
                        {{block.hash}}
                    </a>
                </div>
                <div class="col-md-1 col-xs-4">
                    <span class="visible-xs visible-sm list-item-label nowrap">{{ 'EXPLORER.BLOCK_NUMBER' | translate }}: </span>
                    <a href="blk/{{block.number}}">
                        {{block.number}}
                    </a>
                </div>
                <div class="col-md-1 col-xs-4">
                    <span class="visible-xs visible-sm list-item-label">{{ 'EXPLORER.TRANSACTION_COUNT' | translate }}: </span>
                    <span>{{block.transaction_count}}</span>
                </div>
                <div class="col-md-1 col-xs-4">
                    <span class="visible-xs visible-sm list-item-label">{{ 'EXPLORER.BLOCK_TYPE' | translate }}: </span>
                    <span ng-if="block.version == 1">{{ 'EXPLORER.BLOCK_TYPE_POW' | translate }}</span>
                    <span ng-if="block.version == 2">{{ 'EXPLORER.BLOCK_TYPE_POS' | translate }}</span>
                    <span ng-if="block.version == 3">{{ 'EXPLORER.BLOCK_TYPE_DPOS' | translate }}</span>
                    <span ng-if="block.version < 1 || block.version > 3">{{block.version}}</span>
                </div>
                <div class="col-md-3 col-xs-12 overflow">
                    <span class="visible-xs visible-sm list-item-label">{{ 'EXPLORER.BLOCK_MINER' | translate }}: </span>
                    <span ng-show="block.miner && block.version == 1"><a href="adr/{{block.miner_address}}">{{block.miner}}</a></span>
                    <span ng-show="block.miner && block.version == 2"><a href="avatar/{{block.miner}}">{{block.miner}}</a></span>
                    <span ng-hide="block.miner" class="address-mono"><a href="adr/{{block.miner_address}}">{{block.miner_address}}</a></span>    
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="hidden-xs hidden-sm right">
                        {{block.time_stamp*1000 | date: ( 'GENERAL.DATE_FORMAT_SHORT' | translate ) }}
                    </div>
                    <span class="visible-xs visible-sm list-item-label">{{ 'TIME' | translate }}: </span>
                    <span class="visible-xs visible-sm">
                        {{block.time_stamp*1000 | date: ( 'GENERAL.DATE_FORMAT_MEDIUM' | translate ) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="loading_blocks">
        <div class="mini-loader">Loading...</div>
    </div>
</div>
