<!--header-->
<header id="header" class="top-bar tb-large tb-transp" ng-controller="MenuController">
	<div class="headercontainer">
		<div class="headerbox">
			<div class="">
				<div class="tb-logo fl">
					<a href="#!/">
						<h1 class="dis-tablecell height50">
							<img src="./img/metaverselogo.png" alt="metaverse" title="metaverse">
						</h1>
					</a>
				</div>

				<nav class="menu cn-menu fl">
					<ul class="dis-tablecell height50">
            <li><a href="#!/assets" ng-class="{selectedMenu: selectedMenu.main==='assets'}" class="cool-line">{{'TOP_MENU_ASSETS'|translate}}</a></li>
            <li><a href="#!/api" class="cool-line" ng-class="{selectedMenu: selectedMenu.main==='api'}">{{'TOP_MENU_API'|translate}}</a></li>
            <li><a href="http://mymvs.info" class="cool-line" target="_blank">{{'THIRD_PARTY_EXPLORER'|translate}}</a></li>
          </ul>
					<div class="sl-language">
						<a ng-click="changeLang('zh')" ng-class="{active: ('LANG_CODE' | translate) == 'zh'}" class="cool-line" lang="zh">CN</a>
            <span class="line-lg">/</span>
						<a ng-click="changeLang('en')" ng-class="{active: ('LANG_CODE' | translate) == 'en'}" class="cool-line" lang="en">EN</a>
					</div>
				</nav>

			</div>
			<input type="checkbox" id="toggle" />

			<span class="menu-trigger fr">
				<div class="hamburger">
					<div class="menui top-menu"></div>
					<div class="menui mid-menu"></div>
					<div class="menui bottom-menu"></div>
				</div>
				<!--<label for="toggle" class="toggle"></label>-->
			</span>
		</div>
	</div>
</header>
<!--header end-->

<div class="container">
    <div>
        <a class="center" href="#!/" ngClick="startpage"><img src="images/logo.jpg" class="logo center" alt="" /></a>
    </div>
		<div class="testnet">Testnet</div>
    <div ng-controller="SearchController">
        <form>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

            <div class="">
                <div class="input-group search-group">
                    <input type="text" class="form-control searchbox" name="hash" ng-model="search_field" autocomplete="off" ng-enter="search()" required placeholder="{{'EXPLORER.SEARCH_LABEL' | translate}}">
                    <a class="input-group-addon button" ng-click="search()">
                        <i class="icon-search searchIcon" aria-hidden="true"></i></a>
                </div>
        </form>
        </div>
    </div>
    <ui-view></ui-view>
</div>

<footer>
    <div class="center-text footer-icons">
				<a href="http://github.com/mvs-org" target="_blank"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.facebook.com/mvsofficial/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
				<a href="https://twitter.com/mvs_org" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://www.youtube.com/channel/UCdDGnCLtG2Fb6McCaDcAiBw" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
				<a href="https://t.me/Metaverse_Blockchain" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
				<a href="https://www.reddit.com/r/Metaverse_Blockchain/" target="_blank"><i class="fab fa-reddit fa-2x"></i></a>
				<a href="https://discordapp.com/invite/ubgMRts" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
				<a href="http://weibo.com/6356057248/profile?topnav=1&wvr=6" target="_blank"><i class="fab fa-weibo fa-2x"></i></a>
				<a href="http://bbs.viewfin.com/" target="_blank"><i class="fas fa-rss-square fa-2x"></i></a>
				<a href="http://blog.mvs.org/" target="_blank"><i class="fas fa-bold fa-2x"></i></a>
    </div>
    <div class="center-text" id="copyright">
        {{"COPYRIGHT_TEXT"|translate}}
    </div>
</footer>


<script>
    /* mini menu */
    var screenwidth=$(window).width();

    if(screenwidth<1100){

        $('.menu-trigger').click(function () {
            if($('.menu').hasClass('is-active')){
                $('.menu').slideUp(300).removeClass('is-active');
            }else{
                $('.menu').removeClass('active');
                $('.menu').slideDown(300).addClass('is-active');
            }

            $(".top-menu").toggleClass("top-animate");
            $(".mid-menu").toggleClass("mid-animate");
            $(".bottom-menu").toggleClass("bottom-animate");
        });

        $('.menu ul li').click(function(){
            $('.menu').slideUp(300).removeClass('is-active');
            $(".top-menu").removeClass("top-animate");
            $(".mid-menu").removeClass("mid-animate");
            $(".bottom-menu").removeClass("bottom-animate");
        });

    }
    else{
        $('.cn-menu.menu').css('display','block');
    }
</script>
