<!--header-->
<header id="header" class="top-bar tb-large tb-transp" ng-controller="MenuController">
	<div class="headercontainer">
		<div class="headerbox">
			<div class="">
				<div class="tb-logo fl">
					<a href="#!/">
						<h1 class="dis-tablecell height50">
							<img src="./img/metaverselogo.png" alt="metaverse" title="metaverse">
						</h1>
					</a>
				</div>

				<nav class="menu cn-menu fl">
					<ul class="dis-tablecell height50">
						<li><a href="#!/" ng-class="{selectedMenu: selectedMenu.main===''}" class="cool-line">{{'TOP_MENU_HOME'|translate}}</a></li>
						<li><a href="#!/assets" ng-class="{selectedMenu: selectedMenu.main==='assets'}" class="cool-line">{{'TOP_MENU_ASSETS'|translate}}</a></li>
						<li><a href="#!/txs" ng-class="{selectedMenu: selectedMenu.main==='txs'}" class="cool-line">{{'TOP_MENU_TXS'|translate}}</a></li>
						<li><a href="#!/blocks" ng-class="{selectedMenu: selectedMenu.main==='blocks'}" class="cool-line">{{'TOP_MENU_BLOCKS'|translate}}</a></li>
						<li><a href="#!/mining" ng-class="{selectedMenu: selectedMenu.main==='mining'}" class="cool-line">{{'TOP_MENU_MINING'|translate}}</a></li>
            <li><a href="#!/api" class="cool-line" ng-class="{selectedMenu: selectedMenu.main==='api'}">{{'TOP_MENU_API'|translate}}</a></li>
            <li><a href="http://mymvs.info" class="cool-line" target="_blank">{{'THIRD_PARTY_EXPLORER'|translate}}</a></li>
          </ul>
					<div class="sl-language">
						<a ng-click="changeLang('zh')" ng-class="{active: ('LANG_CODE' | translate) == 'zh'}" class="cool-line" lang="zh">CN</a>
            <span class="line-lg">/</span>
						<a ng-click="changeLang('en')" ng-class="{active: ('LANG_CODE' | translate) == 'en'}" class="cool-line" lang="en">EN</a>
					</div>
				</nav>

			</div>
			<input type="checkbox" id="toggle" />

			<span class="menu-trigger fr">
				<div class="hamburger">
					<div class="menui top-menu"></div>
					<div class="menui mid-menu"></div>
					<div class="menui bottom-menu"></div>
				</div>
				<!--<label for="toggle" class="toggle"></label>-->
			</span>
		</div>
	</div>
</header>
<!--header end-->

<div class="container">
    <!--div>
        <a class="center" href="#!/" ngClick="startpage"><img src="images/logo.jpg" class="logo center" alt="" /></a>
    </div-->
		<div ng-controller="SearchController as ctrl" layout="column" ng-cloak="" class="autocompleteSearch">
				<md-content layout-padding="" layout="column">
						<form ng-submit="$event.preventDefault()">
								<md-autocomplete flex
												md-hide-autocomplete-on-enter
												md-no-cache="noCache"
												md-selected-item="selectedItem"
												md-search-text-change="searchTextChange(searchText)"
												md-search-text="searchText"
												ng-enter="presEnterSearch(searchText)"
												md-selected-item-change="selectedItemChange(item)"
												md-items="item in querySearch(searchText)"
												md-item-text="item.name"
												md-min-length="0"
												md-delay="1000"
												placeholder="{{'EXPLORER.SEARCH_LABEL' | translate}}"
												md-clear-button="true"
												md-menu-class="autocomplete-custom-template">
											<md-item-template>
													<a href="#!/{{item.url}}">
															<div class="item-title overflow">
																	<img ng-if="item.type == 'asset'" check-image ng-src="../img/assets/{{item.icon}}.png">
																	<span ng-if="item.type == 'tx'" ><i class="fas fa-exchange-alt"></i></span>
																	<span ng-if="item.type == 'blockHeight' || item.type == 'blockHash'" ><i class="fas fa-cube"></i></span>
																	<span ng-if="item.type == 'address'" ><i class="far fa-address-card"></i></span>
																	<span> {{item.name}} </span>
															</div>
															<div class="item-metadata overflow">
																	<span>
																			<strong>
																				<span ng-if="item.type == 'asset'">{{'SUGGESTION.TYPE_ASSET' | translate}}</span>
																				<span ng-if="item.type == 'tx'" >{{'SUGGESTION.TYPE_TX' | translate}}</span>
																				<span ng-if="item.type == 'blockHeight'" >{{'SUGGESTION.TYPE_BLOCK_HEIGHT' | translate}}</span>
																				<span ng-if="item.type == 'blockHash'" >{{'SUGGESTION.TYPE_BLOCK_HASH' | translate}}</span>
																				<span ng-if="item.type == 'address'" >{{'SUGGESTION.TYPE_ADDRESS' | translate}}</span>
																			</strong>
																	</span>
																	<span ng-if="item.nbrtx">
																			({{item.nbrtx}} transactions)
																	</span>
																	<span ng-if="item.height">
																			(Block {{item.height}})
																	</span>
															</div>
													</a>
											</md-item-template>
											<md-not-found>
													{{'MESSAGES.ERROR_SEARCH_NOT_FOUND' | translate}}
											</md-not-found>
									</md-autocomplete>
						</form>
				</md-content>
		</div>
    <ui-view></ui-view>
</div>

<footer>
    <div class="center-text footer-icons">
				<a href="http://github.com/mvs-org" target="_blank"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.facebook.com/mvsofficial/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
				<a href="https://twitter.com/mvs_org" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://www.youtube.com/channel/UCdDGnCLtG2Fb6McCaDcAiBw" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
				<a href="https://t.me/Metaverse_Blockchain" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
				<a href="https://www.reddit.com/r/Metaverse_Blockchain/" target="_blank"><i class="fab fa-reddit fa-2x"></i></a>
				<a href="https://discordapp.com/invite/ubgMRts" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
				<a href="http://weibo.com/6356057248/profile?topnav=1&wvr=6" target="_blank"><i class="fab fa-weibo fa-2x"></i></a>
				<a href="http://bbs.viewfin.com/" target="_blank"><i class="fas fa-rss-square fa-2x"></i></a>
				<a href="http://blog.mvs.org/" target="_blank"><i class="fas fa-bold fa-2x"></i></a>
    </div>
    <div class="center-text" id="copyright">
        {{"COPYRIGHT_TEXT"|translate}}
    </div>
</footer>


<script>
    /* mini menu */
    var screenwidth=$(window).width();

    if(screenwidth<1100){

        $('.menu-trigger').click(function () {
            if($('.menu').hasClass('is-active')){
                $('.menu').slideUp(300).removeClass('is-active');
            }else{
                $('.menu').removeClass('active');
                $('.menu').slideDown(300).addClass('is-active');
            }

            $(".top-menu").toggleClass("top-animate");
            $(".mid-menu").toggleClass("mid-animate");
            $(".bottom-menu").toggleClass("bottom-animate");
        });

        $('.menu ul li').click(function(){
            $('.menu').slideUp(300).removeClass('is-active');
            $(".top-menu").removeClass("top-animate");
            $(".mid-menu").removeClass("mid-animate");
            $(".bottom-menu").removeClass("bottom-animate");
        });

    }
    else{
        $('.cn-menu.menu').css('display','block');
    }
</script>
