<!--PoW stats-->
<div class="row col-md-12">
    <h2 class="headline"><em></em>{{ 'POW.HEADLINE' | translate }}</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-12 panel infobox infobox-specific-height mining-box">
            <h3>{{'MINING_POOL_INFO'|translate}}</h3>
            <table>
                <tr>
                    <th>{{'HEIGHT'|translate}}</th>
                    <td ng-show="loading_pow_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pow_mining_info"><a href="blk/{{pow_mining_info.height}}">{{pow_mining_info.height | number}}</a></td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.DIFFICULTY'|translate}}</th>
                    <td ng-show="loading_pow_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pow_mining_info">{{pow_mining_info.difficulty/pow_mining_info.difficulty_simplify.divisor | number}} {{pow_mining_info.difficulty_simplify.letter}}</td>
                </tr>
                <tr>
                    <th>{{'HASHRATE'|translate}}</th>
                    <td ng-show="loading_pow_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pow_mining_info">{{pow_mining_info.hashrate*1e-9 | number}} GH</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.LAST_POW'|translate}}</th>
                    <td ng-show="loading_pow_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pow_mining_info"><a href="blk/{{pow_mining_info.last}}">{{pow_mining_info.height - pow_mining_info.last}}{{"EXPLORER.BLOCKS_AGO"|translate}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 panel infobox infobox-specific-height">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{'MINING_POOL_INFORMATION'|translate}}</h3>
                    <div ng-repeat="location in locationsmap">
                        <b>{{location}}</b><br>
                        <div ng-repeat="miner in locations[location]">
                            <a href="{{miner.url}}">{{miner.url}}</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div>
                        <!-- <nvd3 options="options" data="data"></nvd3> -->
                        <div id="chart">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 panel infobox infobox-specific-height">
    <h3>{{'STATS.POW_DIFFICULTY'|translate}}</h3>
    <div ng-show="loading_difficulty">
        <div class="mini-loader">Loading...</div>
    </div>
    <nvd3 options="difficultyChart.options" data="difficultyChart.data" class="with-3d-shadow with-transitions"></nvd3>
</div>

<!--PoS stats-->
<div class="row col-md-12">
    <h2 class="headline"><em></em>{{ 'POS.HEADLINE' | translate }}</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-12 panel infobox infobox-specific-height mining-box">
            <h3>{{'MINING_POOL_INFO'|translate}}</h3>
            <table>
                <tr>
                    <th>{{'HEIGHT'|translate}}</th>
                    <td ng-show="loading_pos_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pos_mining_info"><a href="blk/{{pos_mining_info.height}}">{{pos_mining_info.height | number}}</a></td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.DIFFICULTY'|translate}}</th>
                    <td ng-show="loading_pos_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pos_mining_info">{{pos_mining_info.difficulty/pos_mining_info.difficulty_simplify.divisor | number}} {{pos_mining_info.difficulty_simplify.letter}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.TOTAL_VOTES'|translate}}</th>
                    <td ng-show="!posVotesInfo"><img src="../images/spinner.gif"></td>
                    <td ng-show="posVotesInfo">{{posVotesInfo.totalVotes}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.LAST_POS'|translate}}</th>
                    <td ng-show="loading_pos_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_pos_mining_info"><a href="blk/{{pos_mining_info.last}}">{{pos_mining_info.height - pos_mining_info.last}}{{"EXPLORER.BLOCKS_AGO"|translate}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 panel infobox infobox-specific-height">
            <h3>{{'POS_MINERS_INFORMATION'|translate}}</h3>
            <p translate="POS_MINERS.INTERVAL_INFO" translate-values="{'interval': posVotesInfo.recentBlocksInterval}"></p>
            <div class="row">
                <div class="col-md-4">
                    <div ng-repeat="avatar in avatars">
                        <a href="avatar/{{avatar.symbol}}">{{$index+1}}: {{avatar.symbol}} ({{'POS_MINERS.TOTAL_VOTES'|translate}}: {{avatar.totalVotes}}) {{recentBlocks}}</a>
                    </div>
                </div>
                <div class="col-md-8">

                    <div>
                        <div id="poschart">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 panel infobox infobox-specific-height">
    <h3>{{'STATS.POS_DIFFICULTY'|translate}}</h3>
    <div ng-show="loading_difficulty">
        <div class="mini-loader">Loading...</div>
    </div>
    <nvd3 options="posDifficultyChart.options" data="posDifficultyChart.data" class="with-3d-shadow with-transitions"></nvd3>
</div>

<!--General stats-->
<div class="row col-md-12">
    <h2 class="headline"><em></em>{{ 'GENERAL.HEADLINE' | translate }}</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-12 panel infobox infobox-specific-height mining-box">
            <h3>{{'GENERAL_INFORMATION'|translate}}</h3>
            <table>
                <tr>
                    <th>{{'HEIGHT'|translate}}</th>
                    <td ng-show="loading_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_mining_info"><a href="blk/{{pos_mining_info.height}}">{{mining_info.height | number}}</a></td>
                </tr>
                <tr>
                    <th>{{'BLOCKTIME'|translate}}</th>
                    <td ng-show="loading_mining_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_mining_info">{{mining_info.blocktime | number}}</td>
                </tr>
                <!--tr>
                    <th>{{'EXPLORER.NUMBER_MST'|translate}}</th>
                    <td ng-show="loading_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_info">{{info.counter.mst}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.NUMBER_MIT'|translate}}</th>
                    <td ng-show="loading_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_info">{{info.counter.mit}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.NUMBER_AVATAR'|translate}}</th>
                    <td ng-show="loading_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_info">{{info.counter.avatar}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.NUMBER_CERT'|translate}}</th>
                    <td ng-show="loading_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_info">{{info.counter.cert}}</td>
                </tr>
                <tr>
                    <th>{{'EXPLORER.NUMBER_TXS_24H'|translate}}</th>
                    <td ng-show="loading_info"><img src="../images/spinner.gif"></td>
                    <td ng-show="!loading_info">{{info.counter.transactions_24h}}</td>
                </tr-->
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 panel infobox infobox-specific-height">
            <div class="row">
                <div class="col-md-4">
                    <h3>{{'BLOCKS_TYPE_INFORMATION'|translate}}</h3>
                </div>
                <div class="col-md-8">
                    <div>
                        <div id="blockstypechart">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 panel infobox infobox-specific-height">
    <h3>{{'BLOCKTIME'|translate}}</h3>
    <div ng-show="loading_blocktimes">
        <div class="mini-loader">Loading...</div>
    </div>
    <nvd3 options="blocktimeChart.options" data="blocktimeChart.data" class="with-3d-shadow with-transitions"></nvd3>
</div>

