<div class="content">

    <h2 class="headline"><em></em>{{ 'MIT.HEADLINE' | translate }}</h2>

    <h4 class="assets-count">
      <span>{{ 'MIT.NUMBER_OF' | translate }}: </span>
      <span ng-show="loading_count"><img src="../images/spinner.gif"></span>
      <span ng-hide="loading_count">{{count}}</span>
    </h4>

    <div class="row nga-default nga-stagger nga-fade" infinite-scroll="load()">

        <div class="col-md-12 hidden-xs hidden-sm">
            <div class="row panel list-item nga-default nga-stagger nga-fade">
                <div class="col-md-4">{{ 'MIT.SYMBOL' | translate }}</div>
                <div class="col-md-4">{{ 'MIT.LAST_RECIPIENT' | translate }}</div>
                <div class="col-md-2">{{ 'MIT.LAST_TX_DATE' | translate }}</div>
                <div class="col-md-2">{{ 'MIT.LAST_TX_BLOCK' | translate }}</div>
            </div>

            <div ng-repeat="mit in mits" class="row panel list-item nga-default nga-stagger nga-fade asset-row">            
                <div class="col-md-4">
                  <h4><a href="mit/{{mit.attachment.symbol}}">{{mit.attachment.symbol}}</a></h4>
                </div>
                <div class="col-md-4"><a href="avatar/{{mit.attachment.to_did}}">{{mit.attachment.to_did}}</a></div>
                <div class="col-md-2"><a href="tx/{{mit.tx}}">{{mit.confirmed_at * 1000| date}}</a></div>
                <div class="col-md-2"><a href="blk/{{mit.height}}">{{mit.height}}</a></div>
            </div>
        </div>

        <div ng-repeat="mit in mits" class="col-xs-12 col-sm-12 panel assetbox hidden-md hidden-lg hidden-xl">
            <h3 class="break"><a href="mit/{{mit.attachment.symbol}}">{{mit.attachment.symbol}}</a></h3>
            <table class="col-xs-12 col-sm-12">
                <tr>
                    <th>{{ 'MIT.LAST_RECIPIENT' | translate }}</th>
                    <td><a href="avatar/{{mit.attachment.to_did}}">{{mit.attachment.to_did}}</a></td>
                </tr>
                <tr>
                    <th>{{ 'MIT.LAST_TX_DATE' | translate }}</th>
                    <td><a href="tx/{{mit.tx}}">{{mit.confirmed_at * 1000| date}}</a></td>
                </tr>
                <tr>
                    <th>{{ 'MIT.LAST_TX_BLOCK' | translate }}</th>
                    <td><a href="blk/{{mit.height}}">{{mit.height}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="loading_mits">
        <div class="mini-loader">Loading...</div>
    </div>
</div>
