<div class="content">

    <h2 class="headline"><em></em>{{ 'TX.HEADLINE' | translate }}</h2>
    <div ng-if="loading_tx">
        <div class="mini-loader">Loading...</div>
    </div>
    <div class="row panel nga-default nga-stagger nga-fade" ng-hide="loading_tx">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'TX.HASH' | translate }}</div>
                <div class="col-md-9 list-item-value hash-mono">{{ transaction.hash }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'TX.BLOCK' | translate }}</div>
                <div class="col-md-9 list-item-value"><a href="#!/blk/{{transaction.block}}">{{ transaction.height }}</a></div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'TX.TIMESTAMP' | translate }}</div>
                <div class="col-md-9 list-item-value">{{transaction.confirmed_at * 1000 | date: ( 'GENERAL.DATE_FORMAT_MEDIUM' | translate ) }}</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'TX.FEE' | translate }}</div>
                <div class="col-md-9 list-item-value">{{total_inputs - total_outputs | numberFormat:8|currency:'':8}} ETP</div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'CONFIRMATIONS' | translate }}</div>
                <div class="col-md-9 list-item-value block-orphan" ng-show="!loading_confirmation && (transaction.orphan != 0)">{{ 'TX.ORPHAN' | translate}}</div>
                <div class="col-md-9 list-item-value block-confirmed" ng-show="!loading_confirmation && (transaction.orphan == 0) && confirmations > 100">{{ 'TX.CONFIRMED' | translate}}</div>
                <div class="col-md-9 list-item-value block-pending-confirmation" ng-show="!loading_confirmation && (transaction.orphan == 0) && confirmations <= 100">{{ confirmations }}</div>
                <div class="col-md-9 list-item-value" ng-show="loading_confirmation"><img src="../images/spinner.gif"></div>
            </div>
            <div class="row">
                <div class="col-md-3 list-item-label">{{ 'TX.SCRIPT' | translate }}</div>
                <div class="col-md-9 list-item-value">
                    <a ng-show="!showScript" ng-click="showScript = true">{{ 'TX.SHOW_HASH' | translate }}</a>
                    <a ng-show="showScript" ng-click="showScript = false">{{ 'TX.HIDE_HASH' | translate }}</a>
                </div>
            </div>

            <hr ng-show="messages.length > 0">
            <div class="row" ng-show="messages.length > 0">
                <div class="col-md-12 list-item-value">{{ 'TX.MEMO' | translate }}</div>
                <div class="col-md-12 list-item-label" ng-repeat="message in messages">{{ message }}</div>
            </div>

            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row break txLine" ng-repeat="input in transaction.inputs">
                        <div ng-show="input.address != ''" class="transaction-arrow-left">
                            <a href="#!/tx/{{input.previous_output.hash}}"><i class="fas fa-arrow-circle-left"></i></a>
                        </div>
                        <div class="row" ng-if="input.attachment.symbol != 'ETP'">
                            <div class="col-md-5 break">
                                <div ng-show="input.attachment.type == 'did-register' || input.attachment.type == 'did-transfer'"><div class="txType">{{'TX.TYPE_DID_TRANSFER'|translate}}: </div><a href="#!/avatar/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                <div ng-show="input.attachment.cert == 'issue'"><div class="txType">{{'TX.TYPE_ASSET_CERT_ISSUE'|translate}}: </div><a href="#!/asset/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                <div ng-show="input.attachment.cert == 'domain'"><div class="txType">{{'TX.TYPE_ASSET_CERT_DOMAIN'|translate}}: </div>{{input.attachment.symbol}}</div>
                                <div ng-show="input.attachment.cert == 'naming'"><div class="txType">{{'TX.TYPE_ASSET_CERT_NAMING'|translate}}: </div>{{input.attachment.symbol}}</div>
                                <div ng-show="input.attachment.type == 'mit'"><div class="txType">{{'TX.TYPE_MIT_TRANSFER'|translate}}: </div><a href="#!/mit/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                                <div ng-show="input.attachment.type != 'did-register' && input.attachment.type != 'did-transfer' && input.attachment.type != 'mit' && !input.attachment.cert">{{input.attachment.quantity | numberFormat:input.attachment.decimals | currency:'':input.attachment.decimals}} <a href="#!/asset/{{input.attachment.symbol}}">{{input.attachment.symbol}}</a></div>
                            </div>
                            <div class="col-md-7 inputColor">
                                <div><a class="address-mono" ng-if="input.address" href="#!/adr/{{input.address}}">{{input.address}}</a></div>
                                <div ng-show="showScript" class="io-script">{{input.script}}</div>
                            </div>
                        </div>
                        <div class="row" ng-if="input.value != 0 || input.address == ''">
                            <div class="col-md-5">
                                <span ng-if="input.address">{{input.value| numberFormat:8|currency:'':8}} <a href="#!/asset/ETP">ETP</a></span>
                            </div>
                            <div class="col-md-7 inputColor">
                                <span ng-if="input.address == ''">{{'TX.INPUT_COINBASE'|translate}}</span>
                                <div><a class="address-mono" ng-if="input.address" href="#!/adr/{{input.address}}">{{input.address}}</a></div>
                                <div ng-show="showScript" class="io-script">{{input.script}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="transaction-arrow-big-screen visible-md visible-lg visible-xl">
                        <i class="fa fa-arrow-right fa-2x"></i>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 visible-xs visible-sm">
                    <i class="fa fa-arrow-right fa-2x"></i>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 right">
                    <div class="row break txLine" ng-repeat="output in transaction.outputs">
                        <div ng-show="output.spent_tx != 0" class="transaction-arrow-right">
                            <a href="#!/tx/{{output.spent_tx}}"><i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        <div class="row" ng-if="output.attachment.symbol != 'ETP'">
                            <div class="col-md-7 ouputColor">
                                <div ng-show="output.attachment.to_did" class="break"><a href="#!/avatar/{{output.attachment.to_did}}">{{output.attachment.to_did}}</a></div>
                                <div ng-hide="output.attachment.to_did"><a class="address-mono" href="#!/adr/{{output.address}}">{{output.address}}</a></div>
                                <div ng-show="showScript" class="io-script">{{output.script}}</div>
                            </div>
                            <div class="col-md-5 right valueColor">
                                <div ng-show="output.attachment.type == 'did-register'"><div class="txType">{{'TX.TYPE_DID_ISSUE'|translate}}: </div><a href="#!/avatar/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.type == 'did-transfer'"><div class="txType">{{'TX.TYPE_DID_TRANSFER'|translate}}: </div><a href="#!/avatar/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.type == 'asset-issue' && !output.attachment.is_secondaryissue"><div class="txType">{{'TX.TYPE_ASSET_ISSUE'|translate}}: </div>{{output.attachment.quantity| numberFormat:output.attachment.decimals | currency:'':output.attachment.decimals}} <a href="#!/asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.type == 'asset-issue' && output.attachment.is_secondaryissue"><div class="txType">{{'TX.TYPE_ASSET_SECONDARY_ISSUE'|translate}}: </div>{{output.attachment.quantity| numberFormat:output.attachment.decimals | currency:'':output.attachment.decimals}} <a href="#!/asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.cert == 'issue'"><div class="txType">{{'TX.TYPE_ASSET_CERT_ISSUE'|translate}}: </div><a href="#!/asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.cert == 'domain'"><div class="txType">{{'TX.TYPE_ASSET_CERT_DOMAIN'|translate}}: </div>{{output.attachment.symbol}}</div>
                                <div ng-show="output.attachment.cert == 'naming'"><div class="txType">{{'TX.TYPE_ASSET_CERT_NAMING'|translate}}: </div>{{output.attachment.symbol}}</div>
                                <div ng-show="output.attachment.type == 'mit' && output.attachment.status == 'registered'"><div class="txType">{{'TX.TYPE_MIT_CREATION'|translate}}: </div><a href="#!/mit/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.type == 'mit' && output.attachment.status == 'transfered'"><div class="txType">{{'TX.TYPE_MIT_TRANSFER'|translate}}: </div><a href="#!/mit/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                                <div ng-show="output.attachment.type == 'asset-transfer'">{{output.attachment.quantity| numberFormat:output.attachment.decimals | currency:'':output.attachment.decimals}} <a href="#!/asset/{{output.attachment.symbol}}">{{output.attachment.symbol}}</a></div>
                            </div>
                        </div>
                        <div class="row" ng-if="output.value != 0 || output.attachment.symbol == 'ETP'">
                            <div class="col-md-7 ouputColor">
                                <div ng-show="output.attachment.to_did" class="break"><a href="#!/avatar/{{output.attachment.to_did}}">{{output.attachment.to_did}}</a></div>
                                <div ng-hide="output.attachment.to_did"><a class="address-mono" href="#!/adr/{{output.address}}">{{output.address}}</a></div>
                                <div ng-show="showScript" class="io-script">{{output.script}}</div>
                            </div>
                            <div class="col-md-5 right valueColor">
                                {{output.value | numberFormat:8|currency:'':8}} <a href="#!/asset/ETP">ETP</a>
                                <div ng-if="output.unlock_block" class="io-script">{{'TX.FROZEN_UNTIL_BLOCK'|translate}} {{output.unlock_block}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">{{'TX.TOTAL_ETP_INPUT'|translate}}: {{total_inputs | numberFormat:8|currency:'':8}} <a href="#!/asset/ETP">ETP</a></div>
            <div class="col-md-6 right">{{'TX.TOTAL_ETP_OUTPUT'|translate}}: {{total_outputs | numberFormat:8|currency:'':8}} <a href="#!/asset/ETP">ETP</a></div>
        </div>
    </div>
</div>
